@import "swiper/css";

@import "../public/css/plugins.css";
@import "../public/css/dark.css";
@import "../public/css/style.css";

.c-pointer {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.owl-dots.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  margin-top: 64px;
}

span.swiper-pagination-bullet {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #f75023;
  position: relative;
  margin: 0px 12px;
  border-radius: 50%;
  cursor: pointer;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  position: absolute;
  content: "";
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;

  border-radius: 100%;
  border: 2px solid #ffb324;
  /* z-index: -1; */
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-content {
  max-width: 400px !important;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}
.main-menu li.active > a,
.header-navigation .main-menu ul > li.has-children.active > a:after {
  color: #ff344f !important;
}

span.current {
  color: unset !important;
}
.owl-carousel {
  display: unset !important;
}

.py-50 {
  padding: 50px 0;
}

.progress-block .graph-outer .count-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 50% !important;
  width: 111%;
  margin-top: 0px !important;
}

.block-fourty-six .ul {
  margin-bottom: 5px;
}
.block-fourty-six .ul i {
  color: #be9a78;
}

.map-section iframe {
  height: 600px;
  width: 100%;
}

  
  .project_part{
    padding-top: 100px;
    padding-bottom: 50px;
  }
.project_text  h1 {
    display: block;
    font-size: 3em;
    font-weight: bold;
    font-weight: 300;
    padding-bottom: 30px;
}
.project_text p {
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	font-size: 14px;
	padding-bottom: 50px;
}
.boxitem1{
  display: flex;
}
.boxitem2{
  display: flex;
}


.box_one {
	width: 360px;
	height: 500px;
	color: #fff;
	border-radius: 5px;
	background: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 20px;
	box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  transition: 1s;
}

.box_one:hover{
  transform: scale(1.1);
}



.box_one_img img {
  width: 100%;
}
.box_one_text h2 {
  line-height: 35px;
  color: black;
  margin-top: 35px;
  margin-bottom: 20px;
  padding: 0 35px;
}
.box_one_text h2:hover{
  color: #B509AC;
}
.box_one_text p {
  line-height: 35px;
  color: black;
  padding: 0 38px 10px;
}
.box_one_text a {
  font-style: oblique;
  color: black;
  line-height: 35px;
  border: 1px dashed #239d5b;
  border-radius: 2px 20px;
  margin: 0px 0px 0px 110px;
  padding: 3px;
  border-color: palevioletred;
  background-color: #ab3f17;
}
    /* bon one end  */


/* .custom-btnn {
	width: 350px;
	height: 500px;
	background:  transparent;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	margin: -135px 0;
  display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}  */



        /* box two start */
.custom-bt {
  width: 350px;
  height: 415px;
  background: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  margin-right: 20px;
  transition: 1s;
}

.custom-bt:hover{
  transform: scale(1.1);
}

.box_two_text h2 {
	line-height: 45px;
	color: black;
	padding: 0 61px;
}
.box_two_text  h2:hover{
  color: #B509AC;
}
.box_two_text p {
  line-height: 35px;
  color: black;
  padding: 9px 60px;
}
.box_two_text a {
  font-style: oblique;
  color: black;
  line-height: 35px;
  border: 1px dashed #239d5b;
  border-radius: 2px 20px;
  margin: 0px 0px 0px 110px;
  padding: 3px;
  border-color: palevioletred;
  background-color: #ab3f17;
}
        /* box two end */




          /* box three start  */
 .box_one_part {
  width: 350px;
  height: 575px;
  background: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  margin-right: 20px;
  transition: 1s;
}
.box_one_part:hover{
  transform: scale(1.1);
}

.box_three_text h2 {
  line-height: 41px;
  color: black;
  padding: 0 60px;
  margin-top: 11px;
}
.box_three_text h2:hover{
  color: #B509AC;
}
.box_three_text p {
	line-height: 35px;
	color: black;
	padding: 17px 60px;
}
.box_three_text a {
  font-style: oblique;
  color: black;
  line-height: 35px;
  border: 1px dashed #239d5b;
  border-radius: 2px 20px;
  margin: 0px 0px 0px 110px;
  padding: 3px;
  border-color: palevioletred;
  background-color: #ab3f17;
}

 
        /* box three end */
/* box four start  */
.box_four_text h2{
  line-height: 41px;
  color: black;
  padding: 0 60px;
  margin-top: 14px;
}
.box_four_text h2:hover{
  color: #B509AC;
}
.box_four_text p {
	line-height: 35px;
	color: black;
	padding: 17px 60px;
}
.box_four_text a {
  font-style: oblique;
  color: black;
  line-height: 35px;
  border: 1px dashed #239d5b;
  border-radius: 2px 20px;
  margin: 0px 0px 0px 110px;
  padding: 3px;
  border-color: palevioletred;
  background-color: #ab3f17;
}
/* box four end */

/* box five start  */

.custom-b {
  width: 350px;
  height: 491px;
  background: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  margin: -100px 0;
  margin-right: 20px;
  transition: 1s;
}
.custom-b:hover{
  transform: scale(1.1);
}

.box_five_text h2{
  line-height: 41px;
	color: black;
	padding: 0 60px;
	margin-top: 35px;
}
.box_five_text h2:hover{
  color: #B509AC;
}
.box_five_text p {
	line-height: 35px;
	color: black;
	padding: 17px 60px;
}
.box_five_text a {
  font-style: oblique;
  color: black;
  line-height: 35px;
  border: 1px dashed #239d5b;
  border-radius: 2px 20px;
  margin: 0px 0px 0px 110px;
  padding: 3px;
  border-color: palevioletred;
  background-color: #ab3f17;
}
/* box five end */




/* box six start */
.box_six_part{
  width: 350px;
  height: 500px;
  background: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  transition: 1s;
  margin-top: 15px;
}
.box_six_part:hover{
  transform: scale(1.1);
}

.box_six_text{
  margin: 0 0;
}
.box_six_text h2{
  line-height: 41px;
	color: black;
	padding: 0 67px;
	margin-top: 35px;
}
.box_six_text h2:hover{
  color: #B509AC;
}
.box_six_text p {
	line-height: 35px;
	color: black;
	padding: 17px 67px;
}
.box_six_text a {
  font-style: oblique;
  color: black;
  line-height: 35px;
  border: 1px dashed #239d5b;
  border-radius: 2px 20px;
  margin: 0px 0px 0px 110px;
  padding: 3px;
  border-color: palevioletred;
  background-color: #ab3f17;
}
/* box six end*/
